<%
# create.html.erb
#
# Eximius
# Alexander Rhett Crammer
# Advanced Server-Side Languages
# Full Sail University
# Created Wednesday, 25 Nov. 2015
%>
<p style="color: white"><%= debug @userr %></p>
<%= form_for :user, html: {class: 'login-form'} do |f| %>
  <% unless flash[:creation_probs].blank? %>
    <div class="probs">
      <% flash[:creation_probs].each do |prob| %>
        <p style="color: white"><%= prob %></p>
      <% end %>
    </div> <!-- .probs -->
  <% end %>
  <%= f.text_field :username, placeholder: 'Username' %>
  <br />
  <%= f.password_field :password, placeholder: 'Password' %>
  <%= f.submit 'Login' %>
<% end %>
<a href="/auth/register/" class="under-the-form">Create an Account</a>
