<%
# profile.html.erb
#
# Eximius
# Alexander Rhett Crammer
# Advanced Server-Side Languages
# Full Sail University
# Created Friday, 27 Nov. 2015
#
content_for :extra_scripts do
  # Because of the nature of Gulp and Elixir the
  # styles in 'User.scss' were consolidated to
  # one single .scss stylesheet. However, if I
  # were to consolidate those styles here the
  # '/auth' views would be messed up, so I'm
  # using another stylesheet to prevent that.
  #
  stylesheet_link_tag "profile", "data-turbolinks-track" => true
end
%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).empty? ? "Eximius" : "Eximius | " + yield(:title) %></title>

    <!-- Metadata -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta id="viewport" name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="application-name" content="Eximius">
    <meta name="description" content="Hand reviewed and verified employment listings.">
    <meta name="author" content="Alexander Rhett Crammer">
    <meta name="generator" content="Atom, Ruby on Rails, GitHub, Puma, Mac OS X">
    <meta name="keywords" content="Jobs, Careers, Professional">
    <%= csrf_meta_tags %>

    <!-- Links -->
    <%= stylesheet_link_tag "application", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "profile", "data-turbolinks-track" => true %>
    <%= yield :extra_scripts %>

    <!-- View Specific Elements -->
    <%= yield :head %>
  </head>
  <body>
    <%= render 'partials/header' %>
    <div class="container">
      <%= form_for :user, enctype: 'multipart/form-data' do |f| %>
        <%= f.file_field :selfie, id: 'selfie' %>
        <div class="selfie-container">
          <% unless @user.selfie_filename.blank? %>
            <div class="selfie-plus">
              <p>+</p>
            </div> <!-- .selfie-plus -->
            <img src="<%= asset_url('selfies/' + @user.selfie_filename) %>" alt="<%= asset_url(@user.selfie_filename) %>" name="selfie" class="selfie">
          <% else %>
            <img class="selfie" name="selfie" id="selfie" src="<%= asset_url('selfies/None.png') %>" alt="None">
          <% end %>
        </div> <!-- .selfie-container -->
        <div class="field-container">
          <%= f.label :username, 'Username:' %>
          <%= f.text_field :username, value: @user.username %>
          <br />
          <%= f.label :email, 'Email:' %>
          <%= f.email_field :email_address, value: @user.email_address %>
          <br />
          <%= f.label :cv, 'Résumé:' %>
          <%= f.file_field :cv %>
          <br />
          <%= f.button 'Save', class: 'blue' %>
        </div> <!-- .field-container -->
      <% end %>
    </div> <!-- .container -->
    <%= render 'partials/footer' %>
    <!-- Scripts -->
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "users", "data-turbolinks-track" => true %>
  </body>
</html>
